<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <title>Formulario</title>
</head>
<body>
    <nav class="navbar bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand text-light" href="/tickets">Tickets</a>    
          <form class="d-flex" role="search" id="search_product">
            <input class="form-control me-2" id="search" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>   
        </div>
      </nav>
    <br/>
    <div class="container-fluid">
        <form id="form_ticket" class="row" method="post">
           <div class="container-fluid">
            <div class="col-12">
                <button id="btn-guardar" type="submit" class="btn btn-primary mb-3">VALIDAR COMPRA</button>
            </div>
            <div class="row">
                <div class="col-4 col-sm-12 col-md-4">
                    <h5>Total: <span id="total-txt">0</span></h5>
                    <h5>Productos: <span id="cantidad-txt">0</span></h5>
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Cant.</th>
                            <th scope="col">Producto</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Total</th>
                          </tr>
                        </thead>
                        <tbody id="car-product">              
                          <%if(ticket && ticket.ticket_detalle && ticket.ticket_detalle.length > 0 ){%>   
                            <%for(var item=0; item< ticket.ticket_detalle.length; item++) {%>
                                <tr>
                                    <td><%=ticket.ticket_detalle[item].cantidad%></td>
                                    <td><%=ticket.ticket_detalle[item].descripcion%></td>
                                    <td><%=ticket.ticket_detalle[item].precio%></td>
                                    <td><%=ticket.ticket_detalle[item].total%></td>
                                </tr>
                            <%}%>
                          <%}%>
                                    
                        </tbody>
                      </table>
                </div>
                <div class="col-8 col-sm-12 col-md-8">
                    <h4>Lista de productos:</h4>
                    
                    <div id="lst_catalogo_productos" class="d-flex flex-wrap">
                      <%if(lst_productos){%>
                        <%for(var item=0; item < lst_productos.length; item++){%>
                          <div class="card" style="width: 10rem;">
                              <%if (lst_productos[item].imagen_activa){%>
                                <img src="/imagen/<%=lst_productos[item].imagen_activa%>.jpg" class="card-img-top" alt="...">
                              <%}else{%>
                                <img src="/static/imagen/default.jpg" class="card-img-top" alt="...">
                              <%}%>
                              <div class="card-body">
                                <p class="card-text"><%='['+lst_productos[item].sku+'] '+ lst_productos[item].nombre%></p>
                                <p class="card-text">$<%=lst_productos[item].precio%></p>
                                
                              </div>
                              <div class="card-footer">
                                  <a href="#" id="add-lista" onclick=<%= 'ticket.add_product('+ lst_productos[item].id+')'%> class="btn btn-primary w-100">Agregar</a>
                              </div>
                          </div>
                        <%}%>
                      <%}%>
                    </div>
                    
                </div>
                <input id="ticket_detalle" name="ticket_detalle" type="hidden" value="[]" />
                <input id="total" name="total" type="hidden" value="" />
                <input id="cantidad" name="cantidad" type="hidden" value="" />
            </div>
           </div>
        </form>
    </div>
    <script src="/js/bootstrap.js"></script>
    <script src="/static/js/jquery-3.7.1.min.js"></script>
    <script src="/static/js/tickets_script.js"></script>
</body>
</html>