<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <title>Inicio</title>
</head>
<body>
    <nav class="navbar bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand text-light" href="/">Inicio</a>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          <a class="navbar-brand text-light" href="/form/product">Agregar</a>          
        </div>
      </nav>
    <br/>
    <div class="container">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Sku</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Precio</th>
                <th scope="col">Total</th>
                <th scope="col">Accion</th>
              </tr>
            </thead>
            <tbody>
                <% for(var item=0; item < lst_productos.length; item++){%>
                    <tr>
                      <th scope="row"><%=lst_productos[item].id%></th>
                      <th scope="row"><%=lst_productos[item].sku%></th>
                      <th scope="row"><%=lst_productos[item].nombre%></th>
                      <th scope="row"><%=lst_productos[item].descripcion%></th>
                      <th scope="row"><%=lst_productos[item].precio%></th>
                      <th scope="row"><%=lst_productos[item].cantidad%></th>
                      <th scope="row">
                        <a class="btn btn-warning" href="/form/product/<%=lst_productos[item].id%>">Editar</a>
                        <form>
                          <a type="button" class="btn btn-danger"  href="/delete/product/<%=lst_productos[item].id%>">Eliminar</a>
                        </form>
                      </th>                      
                    </tr> 
                <%}%>
            </tbody>
          </table>
    </div>
    <script src="/js/bootstrap.js"></script>
</body>
</html>