<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <title>Formulario</title>
</head>
<body>
    <nav class="navbar bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand text-light" href="/tickets">Tickets</a>
        </div>
      </nav>
    <br/>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h5>Fecha de la venta: <span><%= moment(ticket.t_fecha).format('DD/MM/YYYY')%></span></h5>
                <h5>Folio: <span><%= ticket.t_folio%></span></h5>
                <h5>Total: <span><%= ticket.t_total%></span></h5>
                <h5>Productos: <span><%= (ticket_detalle? ticket_detalle.length:0) %></span></h5>
                <table class="table">
                    <thead>
                        <tr>                            
                        <th scope="col">Cant.</th>
                        <th scope="col">SKU</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody id="car-product">            
                        <%if(ticket_detalle && ticket_detalle.length > 0 ){%>   
                            <%for(var item=0; item< ticket_detalle.length; item++) {%>
                                <tr>
                                    <td><%= ticket_detalle[item].td_cantidad%></td>
                                    <td><%= ticket_detalle[item].pp_sku%></td>
                                    <td><%= ticket_detalle[item].pp_nombre%></td>
                                    <td><%= ticket_detalle[item].td_precio%></td>
                                    <td><%= ticket_detalle[item].td_total%></td>
                                </tr>
                            <%}%>
                          <%}%>              
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
    <script src="/js/bootstrap.js"></script>
    <script src="/static/js/jquery-3.7.1.min.js"></script>
</body>
</html>